In [2]:
import numpy as np

In [3]:
a = np.zeros(10, dtype=np.int16)

In [4]:
b = [0] * 10

In [5]:
a.shape

(10,)

In [6]:
c = np.zeros(9, dtype=np.int16)

In [7]:
c

array([0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int16)

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
np.full((4,3), 11, dtype=np.int16)
np.ones((4,3))
np.zeros((4,3))

array([[11, 11, 11],
       [11, 11, 11],
       [11, 11, 11],
       [11, 11, 11]], dtype=int16)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [10]:
np.random.seed(0)
x3 = np.random.randint(10, size=(3, 4, 5))
x3

array([[[5, 0, 3, 3, 7],
        [9, 3, 5, 2, 4],
        [7, 6, 8, 8, 1],
        [6, 7, 7, 8, 1]],

       [[5, 9, 8, 9, 4],
        [3, 0, 3, 5, 0],
        [2, 3, 8, 1, 3],
        [3, 3, 7, 0, 1]],

       [[9, 9, 0, 4, 7],
        [3, 2, 7, 2, 0],
        [0, 4, 5, 5, 6],
        [8, 4, 1, 4, 9]]])

In [11]:
x3.shape

(3, 4, 5)

In [12]:
x3[1,1,:][2]

3

In [13]:
x3[1,:,:].shape
x3[1:2,:,:].shape

(4, 5)

(1, 4, 5)

In [14]:
# x3[1,:,:][1,2]
# x3[1:2,:,:][0,1,2]
# x3[1:2,:,:]
# x3[[0, 1],:,:]
x3

array([[[5, 0, 3, 3, 7],
        [9, 3, 5, 2, 4],
        [7, 6, 8, 8, 1],
        [6, 7, 7, 8, 1]],

       [[5, 9, 8, 9, 4],
        [3, 0, 3, 5, 0],
        [2, 3, 8, 1, 3],
        [3, 3, 7, 0, 1]],

       [[9, 9, 0, 4, 7],
        [3, 2, 7, 2, 0],
        [0, 4, 5, 5, 6],
        [8, 4, 1, 4, 9]]])

In [15]:
x3[0,2,1:4]
x3[1,0,1:4]

array([6, 8, 8])

array([9, 8, 9])

In [16]:
x3[0:2,2,1:4]

array([[6, 8, 8],
       [3, 8, 1]])

In [17]:
x3[0:2,[0,2],1:4][0,1]
x3[0:2,[0,2],1:4][1,0]

array([6, 8, 8])

array([9, 8, 9])

In [18]:
x3[0:2,[0,2],1:4].reshape(-4, 3)[1:3]

array([[6, 8, 8],
       [9, 8, 9]])

In [19]:
x3[0:2,[0,2],1:4]

x3[0:2,[0,2],1:4].reshape(-1, 3)

x3[0:2,[0,2],1:4].reshape(-1, 3)[1:3]

array([[[0, 3, 3],
        [6, 8, 8]],

       [[9, 8, 9],
        [3, 8, 1]]])

array([[0, 3, 3],
       [6, 8, 8],
       [9, 8, 9],
       [3, 8, 1]])

array([[6, 8, 8],
       [9, 8, 9]])

In [20]:
np.ones_like(x3)*100

array([[[100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100]],

       [[100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100]],

       [[100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100],
        [100, 100, 100, 100, 100]]])

In [21]:
x3

array([[[5, 0, 3, 3, 7],
        [9, 3, 5, 2, 4],
        [7, 6, 8, 8, 1],
        [6, 7, 7, 8, 1]],

       [[5, 9, 8, 9, 4],
        [3, 0, 3, 5, 0],
        [2, 3, 8, 1, 3],
        [3, 3, 7, 0, 1]],

       [[9, 9, 0, 4, 7],
        [3, 2, 7, 2, 0],
        [0, 4, 5, 5, 6],
        [8, 4, 1, 4, 9]]])

In [22]:
x4 = x3[1:,1:3,:]
x4

array([[[3, 0, 3, 5, 0],
        [2, 3, 8, 1, 3]],

       [[3, 2, 7, 2, 0],
        [0, 4, 5, 5, 6]]])

In [23]:
x = np.array([1,2,3]).reshape(1,-1)
y = np.array([3,2,1]).reshape(1,-1)
np.concatenate([x,y], axis=0).T.shape

(3, 2)

In [24]:
x = np.array([1,2,3])
y = np.array([3,2,1])

x
y

array([1, 2, 3])

array([3, 2, 1])

In [25]:
np.concatenate([x.reshape(-1,3),y.reshape(-1,3)]).T

array([[1, 3],
       [2, 2],
       [3, 1]])

In [26]:
np.c_[x,y]

array([[1, 3],
       [2, 2],
       [3, 1]])

In [27]:
np.random.seed(0)
x = np.random.randint(1,10,(4,3))
np.random.seed(1)
y = np.random.randint(1,10,(4,3))

x
y

np.c_[x,y]

np.concatenate([x,y], axis=1)

np.concatenate([x,y], axis=0)

array([[6, 1, 4],
       [4, 8, 4],
       [6, 3, 5],
       [8, 7, 9]])

array([[6, 9, 6],
       [1, 1, 2],
       [8, 7, 3],
       [5, 6, 3]])

array([[6, 1, 4, 6, 9, 6],
       [4, 8, 4, 1, 1, 2],
       [6, 3, 5, 8, 7, 3],
       [8, 7, 9, 5, 6, 3]])

array([[6, 1, 4, 6, 9, 6],
       [4, 8, 4, 1, 1, 2],
       [6, 3, 5, 8, 7, 3],
       [8, 7, 9, 5, 6, 3]])

array([[6, 1, 4],
       [4, 8, 4],
       [6, 3, 5],
       [8, 7, 9],
       [6, 9, 6],
       [1, 1, 2],
       [8, 7, 3],
       [5, 6, 3]])

In [28]:
import numpy as np
np.random.seed(0)

def compute_reciprocals(values):
    output = np.empty(len(values))

    print(values)
    print(output)

    for i in range(len(values)):
        output[i] = 1.0 / values[i]
    return output
        
values = np.random.randint(1, 10, size=5)
compute_reciprocals(values)

[6 1 4 4 8]
[6.23042070e-307 4.67296746e-307 1.69121096e-306 1.06810200e-306
 2.33423131e-312]

array([0.16666667, 1.        , 0.25      , 0.25      , 0.125     ])

In [29]:
np.random.seed(0)
x = np.random.randint(1,20,1000)

acc = []
s = 0
for i in x:
    s += i
    acc.append(s)

In [30]:
np.add.accumulate(x)

array([  13,   29,   30,   34,   38,   46,   56,   75,   80,   87,  100,
        102,  109,  117,  132,  150,  156,  170,  179,  189,  206,  212,
        228,  244,  245,  264,  268,  286,  301,  309,  310,  312,  322,
        323,  334,  338,  350,  369,  372,  373,  374,  379,  385,  392,
        401,  419,  435,  440,  450,  461,  463,  465,  473,  483,  487,
        494,  506,  521,  540,  541,  556,  560,  573,  584,  596,  601,
        608,  613,  629,  633,  646,  651,  660,  675,  691,  695,  711,
        725,  742,  760,  766,  776,  780,  781,  787,  788,  806,  825,
        830,  833,  850,  854,  857,  868,  882,  899,  907,  917,  918,
        929,  948,  960,  963,  966,  970,  974,  993, 1008, 1012, 1030,
       1049, 1064, 1074, 1076, 1081, 1092, 1104, 1113, 1125, 1128, 1145,
       1146, 1147, 1154, 1169, 1180, 1189, 1203, 1206, 1210, 1213, 1225,
       1239, 1256, 1265, 1274, 1283, 1286, 1290, 1303, 1318, 1319, 1324,
       1328, 1342, 1354, 1368, 1382, 1394, 1411, 1426, 1443, 1445, 1454,
       1455, 1460, 1467, 1481, 1489, 1505, 1515, 1534, 1543, 1559, 1571,
       1578, 1594, 1596, 1609, 1613, 1632, 1648, 1652, 1663, 1676, 1683,
       1687, 1693, 1705, 1706, 1718, 1727, 1738, 1750, 1756, 1772, 1781,
       1784, 1799, 1803, 1807, 1815, 1825, 1835, 1845, 1849, 1864, 1883,
       1896, 1900, 1910, 1921, 1935, 1943, 1951, 1953, 1966, 1969, 1972,
       1974, 1980, 1989, 1994, 1995, 2007, 2010, 2016, 2033, 2042, 2044,
       2062, 2079, 2083, 2092, 2097, 2114, 2118, 2126, 2130, 2149, 2167,
       2169, 2188, 2206, 2209, 2215, 2221, 2234, 2247, 2250, 2266, 2274,
       2282, 2294, 2312, 2319, 2327, 2346, 2358, 2376, 2386, 2401, 2411,
       2430, 2431, 2441, 2453, 2471, 2481, 2482, 2499, 2510, 2515, 2519,
       2528, 2543, 2544, 2553, 2561, 2575, 2593, 2594, 2606, 2611, 2612,
       2623, 2638, 2657, 2662, 2666, 2674, 2683, 2697, 2703, 2704, 2713,
       2729, 2745, 2757, 2762, 2770, 2784, 2795, 2810, 2828, 2832, 2842,
       2861, 2864, 2876, 2895, 2909, 2911, 2918, 2929, 2946, 2963, 2967,
       2985, 2996, 3006, 3019, 3033, 3040, 3047, 3055, 3064, 3078, 3086,
       3103, 3119, 3128, 3132, 3139, 3157, 3165, 3168, 3185, 3204, 3218,
       3223, 3228, 3241, 3259, 3261, 3267, 3269, 3277, 3287, 3305, 3315,
       3316, 3321, 3339, 3356, 3360, 3371, 3373, 3378, 3383, 3400, 3417,
       3433, 3444, 3458, 3467, 3479, 3486, 3496, 3512, 3516, 3529, 3548,
       3566, 3577, 3580, 3582, 3594, 3598, 3611, 3616, 3618, 3636, 3637,
       3645, 3650, 3654, 3660, 3667, 3671, 3674, 3683, 3685, 3690, 3691,
       3705, 3715, 3721, 3723, 3731, 3740, 3748, 3752, 3765, 3769, 3776,
       3784, 3785, 3791, 3803, 3813, 3821, 3827, 3836, 3848, 3863, 3864,
       3873, 3880, 3891, 3894, 3895, 3910, 3911, 3918, 3920, 3933, 3952,
       3966, 3976, 3981, 3999, 4003, 4006, 4020, 4036, 4041, 4051, 4056,
       4074, 4093, 4107, 4121, 4124, 4128, 4138, 4151, 4167, 4170, 4177,
       4192, 4209, 4225, 4234, 4235, 4246, 4258, 4272, 4280, 4287, 4301,
       4317, 4327, 4334, 4346, 4365, 4373, 4375, 4385, 4388, 4407, 4422,
       4428, 4433, 4452, 4467, 4486, 4488, 4501, 4502, 4512, 4529, 4532,
       4541, 4552, 4569, 4571, 4572, 4578, 4581, 4597, 4601, 4616, 4622,
       4634, 4641, 4648, 4655, 4658, 4665, 4671, 4677, 4691, 4701, 4706,
       4720, 4738, 4742, 4756, 4765, 4779, 4785, 4802, 4817, 4823, 4825,
       4831, 4838, 4851, 4862, 4877, 4886, 4894, 4908, 4914, 4930, 4941,
       4945, 4956, 4975, 4979, 4994, 5013, 5019, 5024, 5042, 5048, 5052,
       5058, 5067, 5072, 5090, 5092, 5111, 5113, 5128, 5146, 5154, 5166,
       5181, 5198, 5200, 5218, 5231, 5246, 5247, 5250, 5265, 5284, 5296,
       5306, 5321, 5322, 5335, 5345, 5364, 5369, 5377, 5381, 5398, 5411,
       5417, 5431, 5448, 5462, 5481, 5499, 5507, 5525, 5540, 5544, 5555,
       5566, 5568, 5585, 5596, 5615, 5632, 5635, 5642, 5652, 5655, 5668,
       5678, 5683, 5688, 5698, 5709, 5722, 5731, 5733, 5739, 5747, 5748,
       5750, 5754, 5773, 5792, 5801, 5820, 5828, 5839, 5858, 5862, 5875,
       5889, 5890, 5901, 5905, 5912, 5916, 5923, 5926, 5945, 5964, 5971,
       5983, 5984, 5989, 6003, 6013, 6016, 6018, 6031, 6047, 6049, 6062,
       6068, 6075, 6077, 6088, 6095, 6102, 6109, 6116, 6128, 6147, 6166,
       6185, 6188, 6201, 6211, 6220, 6226, 6238, 6240, 6252, 6268, 6281,
       6297, 6310, 6329, 6343, 6356, 6366, 6373, 6378, 6395, 6404, 6410,
       6426, 6432, 6438, 6456, 6457, 6474, 6491, 6492, 6503, 6516, 6517,
       6525, 6531, 6536, 6541, 6547, 6560, 6578, 6591, 6598, 6606, 6623,
       6624, 6640, 6651, 6655, 6659, 6676, 6693, 6703, 6709, 6726, 6744,
       6754, 6767, 6783, 6790, 6805, 6807, 6812, 6829, 6834, 6842, 6857,
       6865, 6868, 6885, 6901, 6917, 6936, 6948, 6963, 6971, 6974, 6992,
       6996, 7004, 7018, 7035, 7041, 7046, 7060, 7066, 7078, 7087, 7088,
       7106, 7112, 7117, 7119, 7125, 7142, 7149, 7158, 7163, 7174, 7185,
       7189, 7195, 7205, 7214, 7232, 7241, 7252, 7254, 7269, 7275, 7292,
       7296, 7304, 7306, 7315, 7316, 7322, 7338, 7345, 7361, 7367, 7377,
       7395, 7412, 7429, 7441, 7456, 7462, 7478, 7492, 7504, 7516, 7518,
       7526, 7543, 7551, 7567, 7568, 7573, 7592, 7595, 7604, 7615, 7621,
       7628, 7635, 7640, 7642, 7647, 7653, 7659, 7666, 7670, 7688, 7704,
       7723, 7733, 7738, 7756, 7759, 7763, 7777, 7789, 7803, 7808, 7826,
       7833, 7849, 7852, 7863, 7881, 7887, 7892, 7897, 7913, 7916, 7928,
       7931, 7933, 7948, 7965, 7977, 7979, 7981, 7995, 8002, 8016, 8023,
       8040, 8044, 8059, 8062, 8068, 8076, 8092, 8107, 8111, 8119, 8127,
       8134, 8152, 8164, 8168, 8182, 8187, 8194, 8206, 8221, 8240, 8253,
       8257, 8263, 8271, 8286, 8298, 8308, 8320, 8337, 8345, 8347, 8366,
       8367, 8377, 8386, 8405, 8417, 8435, 8451, 8455, 8466, 8481, 8497,
       8499, 8512, 8524, 8532, 8544, 8558, 8561, 8563, 8580, 8582, 8599,
       8601, 8603, 8616, 8623, 8632, 8641, 8655, 8666, 8685, 8686, 8691,
       8692, 8698, 8714, 8730, 8743, 8757, 8768, 8778, 8795, 8802, 8806,
       8823, 8824, 8826, 8845, 8846, 8858, 8877, 8896, 8912, 8928, 8936,
       8949, 8963, 8982, 8997, 9012, 9020, 9033, 9045, 9058, 9074, 9086,
       9100, 9115, 9134, 9139, 9141, 9159, 9177, 9194, 9204, 9221, 9224,
       9240, 9258, 9265, 9266, 9273, 9286, 9302, 9313, 9316, 9325, 9332,
       9335, 9336, 9347, 9360, 9364, 9374, 9382, 9399, 9410, 9415, 9433,
       9437, 9443, 9450, 9462, 9465, 9473, 9483, 9484, 9501, 9519, 9528,
       9544, 9561, 9579, 9590, 9608, 9612, 9620, 9630, 9634, 9642, 9659,
       9662, 9667, 9672, 9679, 9680, 9698, 9704, 9719, 9728, 9731, 9749,
       9765, 9782, 9791, 9804, 9812, 9825, 9826, 9838, 9850, 9859])

In [31]:
ser_dir = {'index' + str(i): v for i,v in enumerate(range(10))}

In [32]:
import pandas as pd

In [33]:
ser3 = pd.Series(ser_dir)

In [34]:
ser = pd.Series(data=[100, 200, 300, 400, 500], index=['tom', 'bob', 'nancy', 'dan', 'eric'])
ser

tom      100
bob      200
nancy    300
dan      400
eric     500
dtype: int64

In [35]:
# ser = ser + np.array([10, 20, 30, 40, 50])

ser = (ser *1.1).astype('int')

ser

tom      110
bob      220
nancy    330
dan      440
eric     550
dtype: int32

In [36]:
d = {'one' : pd.Series([100., 200., 300.], 
index=['apple', 'ball', 'clock']),
     'two' : pd.Series([111., 222., 333., 4444.], 
     index=['apple', 'ball', 'cerill', 'dancy'])}

In [37]:
d

{'one': apple    100.0
 ball     200.0
 clock    300.0
 dtype: float64,
 'two': apple      111.0
 ball       222.0
 cerill     333.0
 dancy     4444.0
 dtype: float64}

In [38]:
pd.DataFrame(d)

          one     two
apple   100.0   111.0
ball    200.0   222.0
cerill    NaN   333.0
clock   300.0     NaN
dancy     NaN  4444.0

In [39]:
card = pd.read_csv('UCI_Credit_Card.csv')
card.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [40]:
card.iloc[0]

ID                                1.0
LIMIT_BAL                     20000.0
SEX                               2.0
EDUCATION                         2.0
MARRIAGE                          1.0
AGE                              24.0
PAY_0                             2.0
PAY_2                             2.0
PAY_3                            -1.0
PAY_4                            -1.0
PAY_5                            -2.0
PAY_6                            -2.0
BILL_AMT1                      3913.0
BILL_AMT2                      3102.0
BILL_AMT3                       689.0
BILL_AMT4                         0.0
BILL_AMT5                         0.0
BILL_AMT6                         0.0
PAY_AMT1                          0.0
PAY_AMT2                        689.0
PAY_AMT3                          0.0
PAY_AMT4                          0.0
PAY_AMT5                          0.0
PAY_AMT6                          0.0
default.payment.next.month        1.0
Name: 0, dtype: float64

In [41]:
card.describe().LIMIT_BAL['mean']

167484.32266666667

In [42]:
# card.describe().LIMIT_BAL['75%']

# card.loc[:, 'LIMIT_BAL']

# card.loc[:, 'PAY_AMT6'][card.loc[:, 'LIMIT_BAL'] > card.describe().LIMIT_BAL['75%']]

card.loc[card.LIMIT_BAL > card.describe().LIMIT_BAL['75%'],'AGE'].mean()

37.4349794820999

In [43]:
import pandas as pd
import numpy as np

area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [44]:
# 컬럼 추가
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [45]:
data.describe()['pop'].mean()

data.describe()['pop'] < data.describe()['pop'].mean()

data.describe()['density'] > 100

18735074.22255539

count     True
mean     False
std       True
min       True
25%      False
50%      False
75%      False
max      False
Name: pop, dtype: bool

count    False
mean     False
std      False
min      False
25%      False
50%      False
75%       True
max       True
Name: density, dtype: bool

In [46]:
data.loc[(data['density'] > 100) & (data['pop'] < data['pop'].mean()), ['pop']]

               pop
New York  19651127
Florida   19552860